@model RPPP_WebApp.Models.KategorijaVozila

@{
    ViewBag.Title = "Ažuriranje kategorije vozila";
}

<form asp-route-id="@Model.Id"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div class="form-group">
        <label class="form-label">Naziv</label>
        <input asp-for="Naziv" class="form-control" />
        <div class="form-text"><span asp-validation-for="Naziv" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Ažuriraj</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>
