@model RPPP_WebApp.ViewModels.KategorijeVozilaViewModel

@{
    ViewBag.Title = "Kategorije vozila";
    var viewdata = new ViewDataDictionary(ViewData) { { "PagingInfo", Model.PagingInfo } };
}

<h2>Vrsta naplate</h2>

<a asp-action="Create">Kreiraj kategoriju vozila</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-end"></pager>

<table class="table table-striped">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Id", "Naziv" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)"
                   class="table-column-font-size">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        @foreach (var kategorijaVozila in Model.KategorijeVozila)
        {
            <tr hx-swap="outerHTML" hx-target="this">
                <td class="text-left">@kategorijaVozila.Id</td>
                <td class="text-left">@kategorijaVozila.Naziv</td>
                <td>
                    <a asp-action="Edit"
                   asp-route-id="@kategorijaVozila.Id"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm"
                   title="Ažuriraj">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger"
                        hx-confirm="Obrisati kategoriju vozila?"
                        hx-delete="@Url.Action(nameof(VrstaNaplateController.Delete), new { id = kategorijaVozila.Id })"
                        title="Obriši">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <partial name="IncludeValidation" />

    <script>
        document.body.addEventListener("showMessage", function (evt) {
            toastr[evt.detail.messageType](evt.detail.message);
        })
        document.body.addEventListener("htmx:responseError", function (evt) {
            toastr["error"](evt.detail.error);
        })
    </script>
}