@model ReakcijaViewModel

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">@Model.Opis</td>
    <td class="text-left">@Model.Datum</td>
    <td class="text-left">@Model.Incident</td>
    <td class="text-left">@Model.VrstaReakcije</td>

    <td>
        <a class="btn btn-sm edit"
           hx-get="@Url.Action(nameof(DionicaController.Edit), new { id = Model.Id })"
           title="Ažuriraj"><i class="fas fa-edit"></i></a>
    </td>
    <td>
        <button class="btn btn-sm btn-danger"
                hx-confirm="Obrisati autocestu?"
                hx-delete="@Url.Action(nameof(DionicaController.Delete), new { id = Model.Id })"
                title="Obriši">
            <i class="fas fa-trash-alt"></i>
        </button>
    </td>
</tr>