@model RPPP_WebApp.ViewModels.DioniceViewModel

@{
    ViewBag.Title = "Dionica";
}

<h2>Dionice</h2>

<a asp-action="Create">Kreiraj novu dionicu</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-end"></pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Naziv","Ulaz", "Izlaz", "Autocesta","Broj traka", "Zaustavna traka","Dozvola teretnim vozilima", "Otvorena za prolaz",
                                    "Godina otvaranja", "Duljina", "Ograničenje brzine"};
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i"
                            asp-route-page="@Model.PagingInfo.CurrentPage"
                            asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)"
                            class="table-column-font-size">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        @foreach (var dionica in Model.Dionice)
        {
            <partial name="Get" model="dionica" />
        }
    </tbody>
</table>

@section scripts  {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
    <partial name="IncludeValidation" />

    <script>
        document.body.addEventListener("showMessage", function (evt) {
            toastr[evt.detail.messageType](evt.detail.message);
        })
    </script>
}